<header class="app-header">

  <div class="app-header-inner">

    <div class="app-header-left">

      <button
        type="button"
        class="header-menu-button"
        (click)="menuClick.emit()"
        aria-label="Open navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>


      <div class="header-brand">

        <div class="header-logo">
          TJ
        </div>

        <div class="header-brand-copy">
          <span class="header-app-name">
            {{ i18n.t('common.appName') }}
          </span>

          <h1>
            Trade Journal
          </h1>
        </div>

      </div>

    </div>


    <div class="app-header-right">

      <div class="header-language">
        <app-language-switcher />
      </div>


      <div class="header-user">

        <div class="header-avatar">
          {{ authService.currentUserInitial() }}
        </div>

        <div class="header-user-copy">

          <span>
            {{ i18n.t('auth.protected.signedInAs') }}
          </span>

          <strong>
            {{
              authService.currentUserEmail()
                ?? i18n.t('auth.protected.currentUser')
            }}
          </strong>

        </div>

      </div>


      <button
        type="button"
        class="header-logout"
        [disabled]="isSubmitting()"
        (click)="logout()"
      >
        @if (isSubmitting()) {
          <span>...</span>
        } @else {
          <span>
            {{ i18n.t('common.actions.logout') }}
          </span>
        }
      </button>

    </div>

  </div>


  @if (submitError()) {
    <div class="header-error">
      {{ submitError() }}
    </div>
  }

</header>